.account-page-background {
    top: 60px;
    position: fixed;
    z-index: -1;
    height: 100vh;
    inset: 0;
    width: 100vw;

}

.account-page-background::after {
    background: radial-gradient(circle, rgba(255,255,255,0) 48%, rgba(0,0,0,1) 100%);
    content: "";
    inset: 0;
    position: absolute;
    z-index: 0;
    backdrop-filter: blur(1px);
}


.account-page-info {
    width: 100%;
    top: 60px;
    z-index: 1;
}

.account__summary {
    margin: 0rem 1.5rem;
    display: grid;
    grid-template-columns: 105px 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: .65rem;
    grid-gap: 0 .65rem;
    background-color: #1E2328f7;
    z-index: 1;
}

.account__summary button {
    width: 10rem
}

.grid-row-span-3 {
    grid-row: span 3;
}

.account-profile-icon {
    display: flex;
    align-self: flex-end;
}

.account-name {
    display: flex;
    align-self: flex-end;
    font-family: 'BeaufortForLoL';
}

.account-level {
    display: flex;
    align-self: center;
}

.text-align-left {
    text-align: left;
}

.tagline-text {
    color: #785A28;
}