@font-face {
    font-family: 'BeaufortForLoL';
    src: url(../../assets/BeaufortForLoL-TTF/BeaufortforLOL-Light.ttf) format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'BeaufortForLoL';
    src: url(../../assets/BeaufortForLoL-TTF/BeaufortforLOL-LightItalic.ttf) format('truetype');
    font-weigth: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'BeaufortForLoL';
    src: url(../../assets/BeaufortForLoL-TTF/BeaufortforLOL-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BeaufortForLoL';
    src: url(../../assets/BeaufortForLoL-TTF/BeaufortforLOL-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'BeaufortForLoL';
    src: url(../../assets/BeaufortForLoL-TTF/BeaufortforLOL-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BeaufortForLoL';
    src: url(../../assets/BeaufortForLoL-TTF/BeaufortforLOL-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'BeaufortForLoL';
    src: url(../../assets/BeaufortForLoL-TTF/BeaufortforLOL-Heavy.ttf) format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'BeaufortForLoL';
    src: url(../../assets/BeaufortForLoL-TTF/BeaufortforLOL-HeavyItalic.ttf) format('truetype');
    font-weight: bolder;
    font-style: italic;    
}

@font-face {
    font-family: 'Spiegel';
    src: url(../../assets/Spiegel-TTF/Spiegel_TT_Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spiegel';
    src: url(../../assets/Spiegel-TTF/Spiegel_TT_Regular_Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Spiegel';
    src: url(../../assets/Spiegel-TTF/Spiegel_TT_Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Spiegel';
    src: url(../../assets/Spiegel-TTF/Spiegel_TT_Bold_Italic.ttf);
    font-weight: bold;
    font-style: italic;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Allows us to do accessibility and hide the data for users who are not using those devices */
.visually-hidden {
    width: 1px;
    overflow: hidden;
    font-size: 0px;
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

body {
    margin: 0;
    font-family: "Spiegel";
    text-align: center;
    width: max(300px, 100%);
    background-color: rgb(1, 10, 19);
    color: rgb(240, 230, 210);
}

img {
    width: 100%;
    height: auto;
}

/* header

--- */

header {
    /* position: absolute; */
    border: 2px solid red;
    display: flex;
    padding: 0 1em;
    gap: 1em;
    align-items: center;
    /* background-color: #070720; */
}

header h1 {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    font-family: "BeaufortForLoL";
    color: rgb(200, 155, 60);
}

search {
    display: flex;
}



section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* account__summary
--- */

.account__summary {
    border: 2px solid blue;
    display: grid;
    grid-template-columns: 105px 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: .65rem;
}

.account__summary button {
    width: 10rem
}

.grid-row-span-3 {
    grid-row: span 3;
}

.account-profile-icon {
    display: flex;
    align-self: flex-end;
}

.account-name {
    display: flex;
    align-self: flex-end;
    font-family: 'BeaufortForLoL';
}

.account-level {
    display: flex;
    align-self: center;
}

.text-align-left {
    text-align: left;
}

.account-profile-icon img {
    width: 93px;
    height: 93px;
}


/* account__matches
--- */

.account__matches {
    border: 2px solid green;
}

/* matches__summary
--- */
.matches__summary {
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 3fr;
}


/* win-rate-graph-container
--- */
.win-rate-graph-container {
    display: flex;
    height: 120px;
}

.grid-column-start-1 {
    grid-column: 1;
}

.grid-column-start-2 {
    grid-column: 2;
}


/*inventory
--- */

.match-inventory{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.inventory-item {
    width: 22px;
    height: 22px;
}

/* graphs
--- */

.organizer-tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.graph-container {
    display: flex;
    height: 300px;
}