/* matches__summary
--- */
.matches__summary {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0rem 1rem 1rem 1rem;
    background-color: #1E2328f7;
    margin-bottom: 0.5rem;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.kda-bold {
    font-weight: bold;
    color: #C8AA6E;
}
